<template>
  <fragment>
    <Navbar/>
    <div class="d-flex justify-content-center flex-column">
      <div class="text-center mt-5">
        <h2 class="">Contact Form</h2>
      </div>

      <form class="w-100 mt-5" @submit="onClickSubmitForm" ref="form">
        <div class="form-group row justify-content-center">
          <div class="w-25">
            <input v-model="formValues.receiver" type="email" class="form-control" placeholder="Receiver">
          </div>
        </div>
        <div class="form-group row justify-content-center">
          <div class="w-25">
            <input v-model="formValues.title" class="form-control" placeholder="title">
          </div>
        </div>
        <div class="form-group row justify-content-center">
          <div class="w-25">
            <textarea v-model="formValues.message" class="form-control" placeholder="Message"/>
          </div>
        </div>
        <div class="form-group row justify-content-center">
          <div class="w-25">
            <span v-if="error" v-bind:class="error && 'd-block'" class="invalid-feedback">{{ error }}</span>
            <span v-if="message" v-bind:class="message && 'd-block'" class="d-none">{{ message }}</span>
          </div>
        </div>
        <div class="form-group row justify-content-center">
          <div class="w-25">
            <button class="btn btn-primary" type="submit">
              <span v-if="isSubmitting" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              <span v-if="isSubmitting"> Sending</span>
              <span v-if="!isSubmitting">Send Email</span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </fragment>
</template>

<script>
import authService from "@/services/AuthService";
import Navbar from "@/components/Navbar";
import CONSTANT from "@/constants/Constant";
import {validateEmail} from "@/utils/Utils";

export default {
  components: {Navbar},
  data() {
    return {
      formValues: {
        title: '',
        receiver: '',
        message: ''
      },
      isSubmitting: false,
      error: '',
      message: '',
    }
  },

  methods: {
    async onClickSubmitForm() {
      this.message = '';
      const {receiver, message} = this.formValues;
      if (!receiver || !message) {
        this.error = CONSTANT.TEXT.RECEIVER_AND_MESSAGE_IS_REQUIRED;
        return;
      }

      const isValidEmail = validateEmail(receiver);
      if (!isValidEmail) {
        this.error = CONSTANT.TEXT.INVALID_EMAIL;
        return;
      }

      this.isSubmitting = true;
      const response = await authService.sendMail(this.formValues);
      const {success, error} = response;

      this.isSubmitting = false;
      if (!success) {
        this.error = CONSTANT.TEXT.FAILED_TRY_AGAIN;
        console.log(error);
        return;
      }
      this.$refs.form.reset();
      this.message = CONSTANT.TEXT.EMAIL_SENT;

    }
  }
}
</script>
