<template>
  <div class="d-flex justify-content-center flex-column">
    <div class="text-center mt-5">
      <h2 class="">Demo Vuejs Project</h2>
    </div>

    <form class="w-100 mt-5" @submit="onClickSubmitForm">
      <div class="form-group row justify-content-center">
        <div class="w-25">
          <input v-model="formValues.email" type="email" class="form-control" placeholder="Email">
        </div>
      </div>
      <div class="form-group row justify-content-center">
        <div class="w-25">
          <input v-model="formValues.password" type="password" class="form-control" placeholder="Password">
        </div>
      </div>
      <div class="form-group row justify-content-center">
        <div class="w-25">
          <span v-if="error" v-bind:class="error && 'd-block'" class="invalid-feedback">* {{ error }}</span>
        </div>
      </div>
      <div class="form-group row justify-content-center">
        <div class="w-25">
          <button class="btn btn-primary" type="submit">
            <span v-if="isSubmitting" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <span v-if="isSubmitting">Please wait</span>
            <span v-if="!isSubmitting">Login</span>
          </button>
        </div>
      </div>
    </form>
    <div class="form-group row justify-content-center">
      <div class="w-25 text-right">
        <span>Don't Have an account?</span>
        <button type="button" @click="onClickRedirectToSignup" class="btn btn-success ml-3">Sign up</button>
      </div>
    </div>
  </div>
</template>

<script>
import authService from "@/services/AuthService";
import GLOBAL from "@/global";
import CONSTANT from "@/constants/Constant";
import {validateEmail} from "@/utils/Utils";

export default {
  async mounted() {
    if (localStorage.accessToken) {
      await this.$router.push({name: 'homePage'})
    }
  },

  data() {
    return {
      formValues: {
        email: '',
        password: '',
      },
      isSubmitting: false,
      error: ''
    }
  },
  // validations: {
  //   formValues: {
  //   email: {
  //     required,
  //   },
  //   password: {
  //     minLength: minLength(4),
  //   }
  //   }
  // },
  methods: {
    async onClickSubmitForm(e) {

      const {email, password} = this.formValues;
      if (!email || !password) {
        this.error = CONSTANT.TEXT.BOTH_EMAIL_AND_PASSWORD_IS_REQUIRED;
        return;
      }

      const isValidEmail = validateEmail(email);
      if (!isValidEmail) {
        this.error = CONSTANT.TEXT.INVALID_EMAIL;
        return;
      }

      this.isSubmitting = true;
      const response = await authService.login(this.formValues);
      console.log(response);
      const {success, data, error} = response;

      this.isSubmitting = false;
      if (!success) {
        this.error = CONSTANT.TEXT.EMAIL_OR_PASSWORD_DOES_NOT_MATCH;
        console.log(error);
        return;
      }

      const {accessToken} = data;
      localStorage.accessToken = accessToken;
      GLOBAL.USER_EMAIL = email;
      GLOBAL.BEARER_TOKEN = accessToken;
      await this.$router.push({name: 'homePage'})
    },
    async onClickRedirectToSignup() {
      await this.$router.push({name: 'signup'})
    }
  }

}
</script>
