<template>
  <nav class="navbar navbar-light bg-light">
    <span class="navbar-brand">Demo</span>
    <button class="btn btn-outline-danger my-2 my-sm-0" @click="onClickLogout" type="button">Logout</button>
  </nav>
</template>

<script>
import authService from "@/services/AuthService";
import GLOBAL from "@/global";

export default {
  props: {
    msg: String
  },

  methods: {
    async onClickLogout() {
      localStorage.clear();
      await this.$router.push({name: 'login'});

      const response = await authService.logout({email: GLOBAL.USER_EMAIL});
      console.log(response);
      const {success, error} = response;

      if (!success) {
        console.log(error);
      }
    }
  }
}
</script>